NODE_ENV=development
DATABASE= 
PORT=8080
MAIL_TO=tonyhaa@gmail.com
MAIL_FROM=tonyhaa@gmail.com
MAIL_PASS=achwcexzfpluatlf
MONGO_DB='mongodb+srv://Diego:lobitoysimon1@cluster0.wnejdhr.mongodb.net/?retryWrites=true&w=majority'
SECRET_KEY='callefalsa1234'