<div class="titulo d-flex justify-content-center">
    <h2><%= title %></h2>
    <% if(nav !== "product") { %>
        <a href="/productos" class="btn btn-dark mx-5">Productos</a>
    <% } else { %>
        <a href="/" class="btn btn-dark mx-5">Creador</a>
    <% } %>
</div>