{{#if newProduct }}
                <h2>El producto se agrego perfectamente</h2>
                
{{else}}
                <h2>El producto no se agrego</h2>
                   
       {{/if}}

       {{>btn}}
