div(class ='titulo d-flex justify-content-center')
    h2=title
    if(nav !== "product")
        a(href="/productos" class="btn btn-dark mx-5")="Productos" 
    else
        a(href="/" class="btn btn-dark  mx-5")="Formulario"